html,
body {
	height: 100vh;
	overflow-y: hidden;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

/* Track */
::-webkit-scrollbar-track {

	@mixin dark {
		background: rgba(98, 98, 98, 0.84);
	}
	@mixin light {
		background: rgba(98, 98, 98, 0.84);

	}
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #845ef7;
	border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #7950f2;
}

